@import 'reset';

@keyframes buttonShow {
    0% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.1;
    }
    60% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0.1;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    }
    40% {
        box-shadow: 0 0 0 12px rgba(48, 216, 178, 0.5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    }
}

@mixin transform-center() {
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
html {
    font-family: Helvetica, Arial, sans-serif;
}

.content {
    background-color: #bfbfbf;
    margin: 0;
    position: relative;
}


.cursor {
    display: block;
    position: absolute;
    content: ' ';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00ca58;
    //opacity: 0.8;
    box-sizing: content-box;
    animation: shadow 3s infinite ease-in-out;
    z-index: 200;

    &-outer {
        background-color: transparent;
        border: 1px solid #00ca58;
        padding: 10px;
        animation: buttonShow 2s infinite ease-in-out;
        top: -11px;
        left: -11px;
        z-index: 200;
    }

    &-wrapper {
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        content: ' ';
        z-index: 200;
    }
}

.message {
    &-wrapper {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 0.5rem;
        background-color: rgba(white, 0.8);
        border-radius: 2px;
        border: 1px solid rgb(113, 113, 113)
    }
}

.info-wrapper {
    @extend .message-wrapper;

    top: 100px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}


.navigation {
    &-wrapper {
        @extend .message-wrapper;

        right: 100px;
        top: 300px;
        left: auto;
        cursor: pointer;
        z-index: 100;
        padding: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
.is-current-mode {
    font-weight: bold;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
}

.is-menu-hover {
    color: #ffffff;
    background-color: rgba( #3c3c3c, 0.8);
}

h2 {
    font-size: 2rem;
}

li {
    margin-bottom: 0.4rem;
}